# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Env files
.env
.env.*
!.env.example

# Static assets
public/

# Coverage
coverage/

# Misc
*.log
.DS_Store
